/* GENERALES */
@font-face {
	font-family: "Raleway-Regular";
	src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
	font-family: "Raleway-Medium";
	src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
	font-family: "Raleway-Bold";
	src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
	font-family: "Raleway-ExtraBold";
	src: url(../fonts/Raleway-ExtraBold.ttf);
}
* {
	color: #333;
	font-family: "Raleway-Regular";
}
strong {
	font-family: "Raleway-Medium";
}
a {
	text-decoration: none;
	font-family: "Raleway-Medium";
}
h3 {
	text-align: center;
	font-size: 26px;
	line-height: 35px;
	font-family: "Raleway-Bold";
	color: #333;
}
img {
	display: block;
}
body {
	margin: 0;
	padding: 105px 0 0;
}

/* UTILES */
.clear {
	overflow: hidden;
	clear: both;
}
.center {
	margin: auto;
	width: 1100px;
	overflow: hidden;
}
.hover_verde:hover {
	color: #9c3;
}
.hover_negro:hover {
	color: #333;
}
.hover_blanco:hover {
	color: rgb(255,255,255);
}
.btn {
	border: 2px solid #9c3;
    box-sizing: border-box;
    color: #9c3;
    display: block;
    padding: 10px;
}
.fa {
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #9c3;
}

/* ENCABEZADO */
header {
	background: rgba(255, 255, 255, 0.95);
    box-sizing: border-box;
    left: 0;
    overflow: hidden;
    padding: 10px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    transition: all 0.2s ease;
}
header .logo_contenedor {
	float: left;
	transform: all .3s ease;
}
header .logo_contenedor img.logo_solo {
	display: none;
}
header .navegacion_contenedor {
	float: right;
}
header .navegacion a {
    color: #333;
    display: inline-block;
    font-size: 21px;
    height: 85px;
    line-height: 85px;
    padding: 0 25px;
    text-decoration: none;
    transition: all .2s ease;
}
header .navegacion a.activo {
	background: #9c3;
	color: white;
}
header .navegacion a.activo:hover {
	color: #333;
}

/* ENCABEZADO FIJO */
header.compressed {
	padding: 0;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
header.compressed .logo_contenedor img {
	height: 40px;
    margin: 10px 0;
    transition: all .2s ease;
}
header.compressed .logo_contenedor img.logo {
	display: none;
}
header.compressed .logo_contenedor img.logo_solo {
	display: block;
}
header.compressed .navegacion a {
	height: 60px;
    line-height: 60px;
    font-size: 18px;
    transition: all .2s ease;
}

/* BODY */
.pagina {}

/* Quienes somos */
.quienes_somos_contenedor {
	margin-bottom: 30px;
}
/* Banner */
.banners {}
.banners img {
	width: 1100px;
	margin-bottom: 30px;
}

/* Seguros */
.seguros_contenedor {
    margin-bottom: 30px;
}
.seguros {
	box-shadow: 0 0 130px -100px rgba(0, 0, 0, .6);
	margin-bottom: 30px;
}
.seguros .clear {
	padding: 40px 0 0;
}
.seguros .seguro {
	position: relative;
	float: left;
    width: 33.33%;
    height: 440px;
    box-sizing: border-box;
    border-left: solid 1px #333;
    border-right: solid 1px #333;
    text-align: center;
}
.seguros .seguro:first-child {
	border-right: none;
}
.seguros .seguro:last-child {
	border-left: none;
}
.seguros .seguro span.fa.rounded {
	color: #fff;
	background: #9c3;
	width: 150px;
	height: 150px;
	line-height: 160px;
	border-radius: 75px;
	margin: 0;
	margin-bottom: 20px;
}
.seguros .seguro.seguro_mobile span.fa {
	font-size: 110px;
}
.seguros .seguro.seguro_hogar span.fa {
	font-size: 95px;
}
.seguros .seguro h3 {
	margin: 0;
}
.seguros .seguro h3.titulo-seguro {
	text-transform: uppercase;
	margin-bottom: 20px;
}
.seguros .seguro h3.titulo-seguro span {
	font-family: "Raleway-Regular";
}
.seguros .seguro h3.titulo-seguro strong {
	color: #9c3;
	font-family: "Raleway-Bold";
}
.seguros .seguro ul {
    margin: 0;
	list-style: none;
    padding: 0 30px 0 55px;
    text-align: left;
    font-size: 18px;
}
.seguros .seguro ul li {}
.seguros .seguro ul li i {}
.seguros .seguro ul li .comentario {
	font-size: 12px;
    left: 25px;
    position: relative;
    top: -10px;
}
.seguros .seguro .btn {
	bottom: 0;
    left: -50%;
    margin-left: 65%;
    position: absolute;
    width: 70%;
}
.seguros .comentario_seguros {
	font-size: 12px;
	text-align: center;
	margin: 40px 0;
}

/*
.seguro_span {
	font-size: 16px;
}
.comentario {
	font-size: 14px;
	margin-left: 24px;
}
.seguro_mobile {
	float: left;
	width: 366px;
	padding-left: 70px;
	box-sizing: border-box;
	border-left: solid 1px rgb(148,147,147);
	margin-bottom: 20px;
}
.seguro_img {
	margin-bottom: 20px;
}
.seguro_emergencia {
	display: inline-block;
	width: 366px;
	padding-left: 14px;
	box-sizing: border-box;
	border-left: solid 1px rgb(148,147,147);
	border-right: solid 1px rgb(148,147,147);
	margin-bottom: 20px;
}
#emergencia_fa {
	margin-left: 10px;
}
.seguro_hogar {
	float: right;
	width: 366px;
	padding-left: 61px;
	box-sizing: border-box;
	border-right: solid 1px rgb(148,147,147);	
	margin-bottom: 20px;
}
#hogar_fa {
	margin-bottom: 0;
}
*/

/* Proceso pasos para contratar */
.pasos_seguro_contenedor {
	margin-top: 25px;
}
.pasos_seguro_contenedor h2 {
	display: inline;
	padding: 10px;
	box-sizing: border-box;
	border: solid 3px #9c3;
	color: #9c3;
}
.rotulo_pasos {
	height: 42px;
	margin-bottom: 30px;
	text-align: center;
}
.pasos_seguro {}
.pasos_seguro img {
	margin-left: 30px;
	width: 1040px;
}
.primer_paso {
	float: left;
	width: 320px;
}
.segundo_paso {
	margin-left: 70px;
	display: inline-block;
	width: 320px;
}
.tercer_paso {
	float: right;
	width: 320px;
}
.tercer_paso b {
	color: #9c3;
}
.borde {
	border-right: solid 3px #9c3;
	padding-right: 15px;
	box-sizing: border-box;
}

/* PRIMER PASO */

.pasos {
	height: 530px;
}
.primer_paso_img img {
	float: left;
	margin-left: 72px;
	padding-right: 96px;
	box-sizing: border-box;
	border-right: solid 2px rgb(161,161,161);
}
.paso_formulario_routlo {
	display: inline;
	text-align: left;
	margin-left: 100px;
}
.paso_formulario_routlo h2 {
	display: inline-block;
	margin: 0;
}
.paso_formulario_routlo h1 {
  background: #9c3;
  border-radius: 19px;
  color: #ffffff;
  display: inline-block;
  line-height: 34px;
  margin-right: 10px;
  text-align: center;
  height: 38px;
  width: 38px;
}
.formulario {
	display: block;
	width: 400px;
	float: right;
	margin-top: 5px;
	margin-right: 148px;
}
.formulario p {
	display: inline-block;
	line-height: 30px;
	width: 354px;
}
#valor_movil {
	display: inline-block;
	line-height: 30px;
	width: 210px;
}
.border_bottom {
	border-bottom: solid 2px rgb(119,119,119);
}
.input_radio {
	display: inline-block;
	height: 20px;
	width: 20px;
}
.input_number {
	display: inline-block;
	height: 26px;
	width: 145px;
	border: none;
	border-bottom: solid 2px rgb(119,119,119);
	background: rgb(227,227,227);
}
.button_next {
	background: none;
	border: none;
}
.form .fa {
	font-size: 50px;
	margin-left: 306px;
}


/* SEGUNDO PASO*/


#valores_segundo_paso {
	display: inline-block;
	line-height: 30px;
	width: 90px;
}
.input_number_2 {
	display: inline-block;
	height: 26px;
	width: 264px;
	border: none;
	border-bottom: solid 2px rgb(119,119,119);
	background: rgb(227,227,227);
}
.pasos_2 {
	height: 950px;
}
#campo2 {
	width: 175px;
}
#p2{
	width: 180px;
}
#clip {
	margin: 0;
	font-size: 30px;
}
#condiciones {
	color: #9c3;
}
#condiciones:hover {
	color: rgb(74,74,74);
}


/* TERCER PASO */


.tercer_paso_img {
	float: left;
	margin-left: 72px;
	padding-right: 96px;
	box-sizing: border-box;
	border-right: solid 2px rgb(161,161,161);
}
#mobile_contratado {
	width: 231px;
	height: 210px;
}
.verde {
	color: #9c3;
}
.tercer_paso_span {
	line-height: 40px;
}
.separacion {
	border-bottom: solid 2px #444;
	padding-top: 30px;
	padding-bottom: 30px;
	box-sizing: border-box;
}
.gracias {
	margin-top: 30px;
}
.pasos3 {
	height: 600px;
}

footer {
	overflow: hidden;
	background: #333;
	background: repeating-linear-gradient(
		125deg,
		#333,
		#333 30px,
		#444 31px
  	);
	padding-bottom: 30px;
	position: relative;
}
.footer_navegacion {
	border-bottom: solid 1px #444;
	padding: 50px 0;
}
.footer_nav {
	float: left;
	height: 77px;
	line-height: 100px;
}
.footer_nav a {
	box-sizing: border-box;
	font-size: 18px;
	color: #fff;
}
.footer_nav .separador {
	display: inline-block;
	color: #9c3;
	padding: 0 15px;
}
.logo_footer {
	float: right;
}
.derechos_reservados {
	float: left;
	padding: 30px 0;
}
.derechos_reservados div {
	font-size: 14px;
	color: #888;
	line-height: 24px;
}
.redes_sociales {
	float: right;
	padding: 30px 0; 
}
.redes_sociales .fa {
	font-size: 38px;
    text-align: center;
    margin: 0 0 0 25px;
}
.redes_sociales .fa.rounded {
	height: 40px;
	line-height: 42px;
	width: 40px;	
	background: #9c3;
    border-radius: 20px;
	color: #333;
	font-size: 24px;
}
.redes_sociales .fa.rounded.hover_blanco:hover {
	background: #fff;
}
.redes_sociales .fa:not(.rounded) {
	position: relative;
    top: 4px;
}
.derechos_apssxxi {
	background: #222;
    bottom: 0;
    font-size: 12px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.derechos_apssxxi a {
	color: #9c3;
}
.derechos_apssxxi span {
	color: rgb(102,102,102);
}

/* SCROLL UP */
a.fa.scroll-up {
    background: #9c3 none repeat scroll 0 0;
    bottom: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    color: white;
    display: none;
    font-size: 24px !important;
    height: 40px;
    line-height: 37px !important;
    opacity: 0.85;
    position: fixed;
    right: 20px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    z-index: 100;
}